
body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.alex-container{
    margin: 20px auto;
    padding: 50px;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.7);
}

#alex-bild1{
    border: 10px solid crimson;
    background-color: #fff;
    margin: 0 auto;
    display: block;
}

#ilcaffe-hemsida{
    text-align: center;
    margin-top: 10px;
}

#ilcaffe-hemsida a{
    text-decoration: none;
    color: crimson;
    font-weight: bold;
}

#ilcaffe-hemsida a:hover{
    font-size: 1.2em;
}

h1{
    max-width: 80%;
    margin: 60px auto 30px auto;
}

img{
    max-width: 80%;
    display: block;
    margin: 40px auto;
}

p{
    max-width: 80%;
    margin: 0 auto;
}

ul{
    max-width: 80%;
    margin: 0 auto;
    list-style-type: square;
}

li{
    margin: 20px 0;
}

li::first-line{
    font-weight: bold;
}
