
  .nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgba(3, 3, 3, 0.5);
    display: block;
  }
  
  .lista {
    font-family: monospace;
    font-size: 20px;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

#bg{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    z-index: -1;
    opacity: 1.0;
  }

 
  
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }
    
    li {
      float: left;
    }
    
  }

#Hornsberg {
  display: block;
  min-width: 60%;
  min-height: 60%;
  max-width: 60%;
  max-height: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;

  
}

#bg{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    z-index: -1;
    opacity: 1.0;
  }
 
  #bg{
    filter: blur(6px);
    -webkit-filter: blur(6px);
  }
  
.textbox {

/*   background-color: rgba(255, 230, 249, 0.774); */
  font-family: 'Amatic SC', cursive;
  font-size: 2.5em;
  width: 820px;
  padding: 10px;
/*   border: 5px solid #F6C5DD; */
  margin: auto;
  margin-top: 25px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px rgba(0, 0, 0, 0.692), 0 0 5px rgb(0, 0, 0);

}


.jon-container{
  margin: 20px auto;
  padding: 10px;
  width: 70%;
  border-radius: 20px;
  background-color: rgba(255, 230, 249, 0.350);
  font-family: Arial, Helvetica, sans-serif;

}

#visesstl {
  font-size: 7em;
}