
  .nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgba(3, 3, 3, 0.5);
    display: block;
  }
  
  .lista {
    font-family: monospace;
    font-size: 20px;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

#bg{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    z-index: -1;
    opacity: 1.0;
  }

 
  
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }
    
    li {
      float: left;
    }
    
  

.Hornsberg {

  display: block;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;

  
}

h1{
  font-family: 'Amatic SC', cursive;
text-align: center;
color: white;
font-size: 8.0em;
text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;

}



#bg{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    z-index: -1;
    opacity: 1.0;
  }
 
  #bg{
    filter: blur(6px);
    -webkit-filter: blur(6px);
  }
  
.textbox {

/*   background-color: rgba(255, 230, 249, 0.774); */
  font-family: 'Amatic SC', cursive;
  font-size: 2.5em;
  max-width: 820px;
  padding: 10px;
/*   border: 5px solid #F6C5DD; */
  margin: auto;
  margin-top: 25px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px rgba(0, 0, 0, 0.692), 0 0 5px rgb(0, 0, 0);

}


.jon-container{
  margin: 20px auto;
  padding: 10px;
  width: 70%;
  border-radius: 20px;
  background-color: rgba(255, 230, 249, 0.350);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;

}

#visesstl {
  font-size: 7em;
}


/* Styling för forms */

.forms {
  text-align: center;
}

.form {
  
  background-color: rgba(0, 0, 0, 0.37);
  border-radius: 40px;
  max-width: 700px;
  margin: 0 auto;
  font-weight: bold;
  font-style: italic;
  color: white;
  font-size: 1em;
  letter-spacing: 2px;
}

#bäststad {
  padding-bottom: 20px;
}

fieldset {
  border: 3px solid rgba(34, 34, 34, 0);
  
}

input[type="Email"],
input[type="mobilnummer"] {
display: block;
margin: 0 auto;
padding: 10px 10px 10px 50px;
border-radius: 4px;

}

input[type="submit"]{
  background: #ddcfcfa9;
  margin-bottom: 10px;
  border-radius: 10px;

}



560x315