/* background image */
#bg{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    z-index: -1;
    opacity: 1;
    filter: blur(2px)
  }
  .nav{
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background: rgba(3, 3, 3, 0.5);
      display: block;
    }
    
    .lista {
      font-family: monospace;
      font-size: 20px;
      float: left;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      background: rgba(3, 0, 0, 0);   
    }
    .nav a:hover{background-color: #594a85;}

.nissecontainer{
    box-sizing: border-box;
        margin: 10px auto;
        max-width: 800px;
        padding: 2px;
        background: darkgray;
        opacity: 1;

}
#nissebild{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.nrubrik{
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 50em;
    padding: 2em;
    text-align: center;
}
.nissetext{
    text-align: center;

}
.nissebild{
    max-width: 500px;
    
}